body{
  background-color: gainsboro;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kartica{
  background-color: rgb(165, 160, 160);
  border: black 1px solid;
  margin:5px;
  width:70%;
  text-align: center;
}