*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: blue;
}
.osnovno{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: aqua;
  width: 50%;

}

.ispis{
  display: grid;

}

@media screen and (min-width:768px){
  .ispis{

  grid-template-columns: repeat(3, 1fr);
  }
}