body{
  margin: 0;
}

.pozdrav{
background-color: grey;
font-size: larger;
color: khaki;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 40vh;
}

/* .pozdrav :hover{
  background-color: khaki;
  color: dodgerblue;
} */